*{
  box-sizing: border-box;
}

.Wordle-container{
  position: relative;
  margin:  10vh auto;
  height: 80vh;
  width: 460px;
  display: flex;
  flex-direction: column;

  & .header {
    height: 100px;
    background-color: red;
  }

  & .keyboard{
    margin-top: auto;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }

  & .alert-container {
    z-index: 1000;
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);

  }
}