//$animation-time: 0.7s;
//$animation-half: 0.35s;
:root {
  --flip-animation-time: 0.7s;
  --flip-animation-half: calc(var(--flip-animation-time) / 2);
  --invalid-animation: 1s;
}


.worlde-line {
  display: flex;
  justify-content: center;
  margin-bottom: 6px;

  &.invalid {
    animation: invalid var(--invalid-animation) ease-out;
  }

  & > div {
    width: 60px;
    height: 60px;
    line-height: 56px;
    text-align: center;
    margin-right: 6px;
    font-size: 30px;
    color: white;
    font-weight: bold;
    background-color: gray;
    border: 2px solid transparent;

    &.empty {
      border-color: #202020;
      transition: all 0s ease-out;
    }

    &.wrong {
      background-color: #3a3a3c;
      transition: all 0s ease-out;
    }

    &.exists {
      background-color: #b59f3b;
      transition: all 0s ease-out;
    }

    &.exact {
      background-color: #538d4e;
      transition: all 0s ease-out;
    }


    &:not(.empty) {
      animation: revealTile 0.7s forwards ease-out;

      &:nth-child(1) {
        animation-delay: 0s;
        transition-delay: calc(0 * var(--flip-animation-time) + var(--flip-animation-half));
      }

      &:nth-child(2) {
        animation-delay: calc(1 * var(--flip-animation-time));
        transition-delay: calc(1 * var(--flip-animation-time) + var(--flip-animation-half));
      }

      &:nth-child(3) {
        animation-delay: calc(2 * var(--flip-animation-time));
        transition-delay: calc(2 * var(--flip-animation-time) + var(--flip-animation-half));
      }

      &:nth-child(4) {
        animation-delay: calc(3 * var(--flip-animation-time));
        transition-delay: calc(3 * var(--flip-animation-time) + var(--flip-animation-half));
      }

      &:nth-child(5) {
        animation-delay: calc(4 * var(--flip-animation-time));
        transition-delay: calc(4 * var(--flip-animation-time) + var(--flip-animation-half));
      }
    }
  }
}

@keyframes revealTile {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0);
  }
}

@keyframes invalid {
  0% {
    transform: translateX(10px);
  }
  20% {
    transform: translateX(-8px);
  }
  60% {
    transform: translateX(6px);
  }
  80% {
    transform: translateX(4px);
  }
  100% {
    transform: translateX(0);
  }
}